{% extends 'author/template.html' %}
{% load static %}

{% block isi %}
<section>
    <div class="container-fluid">
        {% for data in blogs%}
        <div class="row"> <!-- foto -->
            <div class="col-3"></div>
            <div class="col-6">
                <img class="blogimg" src="{{data.images}}" alt="">
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">  <!-- tanggal -->
            <div class="col-3"></div>
            <div class="col-3">
                <small><p>{{data.tanggal_post}}</p></small>
            </div>
            <div class="col-3 ml-auto">
                <small><p class="text-right">{{jumlah_komen}} Comment</p></small>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row"> <!-- judul dan isi ke bawah -->
            <div class="col-3"></div>
            <div class="col-6">
                <p class = "judul">{{data.judul}}</p>
                <p class = "isi">{{data.konten}}
                </p>
                <p class="selanjutnya">Baca Selengkapnya</p>
            </div>
            <div class="col-3"></div>
        </div>
        {% endfor%}
</section>

{% endblock %}