{% extends 'author/template.html' %}
{% load static %}

{% block isi %}
<section>
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-3"></div>
            <div class="col-6">
                <img class="authorimg" src="{% static 'images/profile-pic2.jpg'%}" alt="">
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row"> 
            <div class="col-3"></div>
            <div class="col-6">
                <span class="authorname"><strong>Karyadi</strong></span><br>
                <span>Karyadi, seorang pemuda berusia 23 tahun. Saat ini bersama sama teman temannya
                    sedang mengikuti progam Alpha Tech Academy. Semoga kami bisa menjadi software
                    engineer yang profesional di kemudian hari. Aamiin. Jika hendak kepo, silahkan.
                </span>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row authoridentity"> 
            <div class="col-3"></div>
            <div class="col-2">
                <span>Alamat</span><br><br>
                <span>Telephone</span><br>
                <span>Education</span><br>
                <span>Proffesion</span><br>
                <span>Nationality</span><br>
                <span>Company</span><br>
                <span>Email</span><br>
                <span>Address</span><br>
            </div>
            <div class="col-4">
                <span>: Kledung kradenan RT 01 RW 04, Banyuurip, Purworejo</span><br>
                <span>: +62 85292102588</span><br>
                <span>: Mathematics</span><br>
                <span>: Software Engineer</span><br>
                <span>: Indonesian</span><br>
                <span>: Alterra Indonesia</span><br>
                <span>: karyadi@alphatech.id</span><br>
                <span>: Sepulsa Logde Malang</span><br>                
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row"> 
            <div class="col-3"></div>
            <div class="col-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.3141822078887!2d112.60827644965681!3d-7.966446794234025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa+Lodge+Malang!5e0!3m2!1sen!2sid!4v1549980341779" width="600" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</section>

{% endblock %}